body {
    width: 100%;
    margin: 0;
    font-family: Tahoma;
    font-size: 16px;
    color: white;
  }
  .image{
    position:absolute;
    background-image:url(https://i.pinimg.com/236x/d1/03/d0/d103d04ad5ee92303f65d41aa9f875d0.jpg);
    top:0;
    left:0;
    height: 100vh;
    background-repeat:no-repeat;
    background-size:cover;
    width: 100%;
    z-index: -2;
    position: fixed;
  }
  .overlay{
    position:absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: -1;
    position: fixed;
    filter: blur(8px); 
    -webkit-filter: blur(8px); 
  }
  form {
    background-color:rgba(0,0,0,0.7);
    width: 60vw;
    max-width: 500px;
    padding:20px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  h1, #description{
    margin: 1em auto;
    text-align:center;
  }
  
  label{
    display:block;
    margin: 0.5rem 0;
  }
  fieldset:first-child input{
    width:100%;
    font-size: 1.125rem;
  }
  h1{
    font-size:40px;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p{
    font-size: 1.125rem;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    background-color: rgba(255,255,255,0.2);
    color: aliceblue;
  }
  input[type="radio"],[type="checkbox"]{
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  input[type="file"] {
    padding: 1px 2px;
  }
  fieldset {
    border: none;
  }
  input[type="submit"]{
    background-color: rgba(38, 223, 214, 0.7);
    display: block;
    margin: 2em auto;
    width: 60%;
    color: black;
    padding: 10px 0;
    border-radius: 3px;
    font-size: 1.2em;
    font-weight: 500;
  }
  input[type="submit"]:hover{
    font-weight: 600;
    cursor: pointer;
    transform: scale(1.1);
  }
  

