*{
    box-sizing:border-box;
    font-size:16px;
    font-family:san-serif;
  }
  body{
    background-color:black;
    color:white;
  }
  #title, .description{
    color:#fac038;
  }
  #title{
    text-align:center;
    padding:25px 5px 5px 5px;
    font-size:3em;
    margin-bottom:unset;
  }
  h2{
    text-align:center;
  }
  .description{
    font-size:1.5em;
    text-align:center;
  }
  #img-div{
    padding:25px;
    background-color:#dee0dd;
  }
  #image{
    width:100%;
    max-width:100%;
    height:auto;
    margin:0 auto;
  }
  img{
    display:block;
  }
  #img-caption{
    text-align:center;
  }
  span{
    font-weight:800;
  }